<div class="userInfo">
<p>User Info</p>
<br><%= @user.username %>

<br><%= @user.first_name %>
<br><%= @user.last_name %>
<br><%= @user.email %>
<br><%= @user.birthday %>
<br><a href="/settings">DELETE YOUR ACCOUNT</a>
<div>

<p>Posts by <%= @user.username %></p>
<% for post in @user.posts %>
    <h2> <%= post.title %> </h2>
    </br> <%="by #{post.user.username}"%>
    <p class="content"> <%= post.content %> </p>

    <p> <%= "#{post.created_at.strftime("%b %d, %Y")}" %> </p>
<% end %>
